$gradiente1: linear-gradient(94deg, rgba(46,47,91,1) 52%, rgba(80,85,129,1) 100%);
$gradiente2: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
$colorGradiente2: rgb(238,174,202);
$color1: #FAF0Ca;

.fondo{
    background-color: aliceblue;
}
.tienda{
    position: absolute;
    font-weight: bolder;
    width: 100vw;
    background: $colorGradiente2;
    background: $gradiente2;
    color: $color1;
    text-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    padding: -4px 180px 21px 224px;
    margin-top: 26px;
    margin-bottom: 106px;
    
}
.botonTienda{
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    padding-top: 86px;
    button{
        border-radius: 10px;
        background-color:#f4d35e;
        
        font-family:'Times New Roman', Times, serif;
    img{
        width: 25px;
        height: 25px;
    }
    }
}
.containerTienda{
    background-color: antiquewhite;
    height: 1495px;
    width: 100vw;
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 23px;
    margin-bottom: 0px;
    display: grid;
    align-items: start; 
    grid-template-columns: repeat(2, 172px);
    grid-template-rows: repeat(5, 284px);
    padding-right: 300px;
    grid-template-areas: 
    "item1 item2"
    "item3 item4"
    "item5 item6"
    "item7 item8"
    "item9 item10"
    }
    

.img1{
    border-radius: 10px;
    transition: all .2s ease-in-out;
    padding-bottom: 70px;
    margin-right: 27px;
    background-color: white;
   figcaption{
        padding-left: 20px;
        font-size: 13px;
        
     }
             p{
               position: absolute;
               color: aliceblue;
               font-weight: bold;
               margin-left: 22px;
               margin-top: 37px;
               margin-bottom: 5px;
               padding-left: 18px;
               padding-right: 5px;
               padding-right: 24px;
               border-radius: 35px;
               background-color: #f4d35e;
               }
             
}
.img1:hover{
    transform: scale(1.1);
}

.item1{
    grid-area: item1;
    width: 145px;
    height: 166px;      
}

.item2{
    grid-area: item2;
    width: 145px;
    height: 166px;
}


.item3{
    grid-area: item3;
    width: 145px;
    height: 166px;
}


.item4{
    grid-area: item4;
    width: 145px;
    height: 166px;
}

.item5{
    grid-area: item5;
    width: 145px;
    height: 166px;
}


.item6{
    grid-area: item6;
    width: 145px;
    height: 166px;
}


.item7{
    grid-area: item7;
    width: 144px;
    height: 166px;
}

.item8{
    grid-area: item8;
    width: 145px;
    height: 166px;
}

.item9{
    grid-area: item9;
    width: 145px;
    height: 166px;
}


.item10{
    grid-area: item9;
    width: 145px;
    height: 166px;
}
.img10{
    transition: all .2s ease-in-out;
    padding-bottom: 58px;
    margin-right: 27px;
    background-color: aliceblue;
       
}
.img10:hover{
    transform: scale(1.1);
}
figcaption{
    font-weight: bolder;
}