@import "tienda";
@import "mediaQuerys";

.nombre{
    padding: 30px;
    background-color: aqua;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    padding-left: 270px;
    border-radius: 50%;
   
}
 button{
        
        margin-left: 620px;
        background-color: white;
    }

    